html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 
 Mon Css
*/

@font-face {
    font-family:"Fredoka One";
    src: url("Fonts/Fredoka_One/FredokaOne-Regular.woff2");
}

@font-face{
    font-family:"Lexend";
    src: url("Fonts/Lexend/Lexend-Regular.woff2");
}

@font-face{
    font-family:"Lexend";
    src: url("Fonts/Lexend/Lexend-SemiBold.woff2");
}

/*
Header
*/

header {
    font-family: "Fredoka One", sans-serif;
    font-size: larger;
    margin-top: 1.875rem;
    gap: .625rem;
    align-items: center;
}

.topHeadBox {
    margin : 2rem ;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.topBox {
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}

.topBox .topBtn1 {
    background: #fffff1;
    border: none;
    width: 1.5rem;
}

.botBox {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: space-between;
    justify-content: space-around;
    padding: .3125rem;
    margin-top: 2rem;
}

.botBoxBtn {
    display: flex;
    align-items: center;
    margin-right: .625rem;
}

.proPresentation {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/*
Boutons section du haut 
*/

.botBoxBtn .topBtn2 {
    background: #fffff1;
    border: none;
    width: 1.5rem;
}

.botBoxBtn .topBtn3 {
    background: #428A60;
    border-radius: 1.875rem;
    margin-left: 25px;
}

/*
body
*/

body {
    background-color: #fffff1;
    font-family: "Fredoka One", sans-serif;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 100%;
}

.mainContainer {
    margin: 3rem;
    width: 100%;
}



.core .upLine {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.core .midLine {
    margin-top: 1.25rem;
    width: 100%;
}

.core .lowLine {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
    width: 100%;
}

/*
Bouton section du bas
*/

.core .upLine button {
    background: #428A60;
    border: 0.1rem solid black;
    border-radius: 0.625rem;
    width: 8.75rem;
    height: 15.625rem;
}


.core .midLine button {
    background: #428A60;
    border-radius: 0.625rem;
    width: 18.75rem;
    height: 9.375rem;
}

.tarifs button, 
.lowLine button {
    background: #428A60;
    border-radius: 0.625rem;
    border-color: solid black;
    width: 18.75rem;
    height: 3.125rem;
    margin-top: 2rem;
}



@media screen and (min-width: 700px) and (max-width:3200px) {
    
    header {
        font-family: "Fredoka One", sans-serif;
        margin-top: 0.5rem;
        gap: .625rem;
        align-items: center;
        display: flex;
    }
    
    .topHeadBox {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    .topBox {
        width: 100%;
        font-size: x-large;
        align-items: center;
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right:  2rem;
    }

    .botBox {
        font-size: x-large;
    }

    .topBox .topBtn1 {
        display: none;
    }

    /*
    */
    .botBox .topBtn2 ,
    .botBox .topBtn3  {
        width: 4rem;
        height: 2rem;
    }

    /*
    body
    */

    body {
        background-color: #fffff1;
        font-family: "Fredoka One", sans-serif;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        width: 100%;
    }
    
    .mainContainer {
        width: 100%;
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .core {
        width: 100%;
        margin: 2rem;

    }

    .core .upLine {
        margin-top: 1rem;
        width: 100%;
        display: flex;
        gap: 7.5rem;
    }

    .core .midLine {
        width: 100%;
        margin-top: 1.25rem;
    }

    .core .lowLine {
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        width: 100%;
    }

    /*
    btn
    */

    .core .upLine button {
        background: #428A60;
        border: 0.1rem solid black;
        border-radius: 1rem;
        width: 32.5rem;
        height: 12.5rem;
        margin: 1rem;
        font-size: x-large;
    }

    .core .midLine button {
        background: #428A60;
        border-radius: 1rem;
        width: 75rem;
        height: 12.5rem;
        margin: 1rem;
        font-size: x-large;
    }

    .core .lowLine button {
        background: #428A60;
        border-radius: 1rem;
        border-color: solid black;
        width: 75rem;
        height: 5rem;
        margin: 1rem;
        font-size: x-large;
    }

    .tarifs button {
        background: #428A60;
        border-color: solid black;
        border-radius: 50%;
        width: 20rem;
        height: 20rem;
        margin: 1rem;
        font-size: x-large;
    }

  }